html, body {
	margin: 0.3em;
	width: auto;
	min-width: 250px;
	max-width: 500px;
	background-color: #f8f8f8;
	font-size: 14px;
}

div {
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-bottom: 1px solid grey;
}

.stats {
	font-weight: normal;
	margin-left: 0.5em;
	margin-right: 0.5em;
	text-decoration: none;
}

#title {
	font-weight: bold;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#visits {
	font-weight: bold;
}

#time-ago {
	font-style: italic;
}